In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import plotly.express as px
import seaborn as sns

%config InlineBackend.figure_format = 'retina'

import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning)

In [2]:
# Load and clean your Excel file (skip the top header rows)
df = pd.read_excel("Original_Data/Statistical Tables on June 2025 CPI for All Income Households.xlsx",
                   sheet_name="table 1", skiprows=5)

# Rename the first column for clarity
df.rename(columns={df.columns[0]: "Commodity Group"}, inplace=True)

# Drop empty columns and rows
df.dropna(axis=1, how='all', inplace=True)
df = df[df["Commodity Group"].notna()]

In [3]:
df = df.rename(columns={'Unnamed: 1': 'Commodity Group'})

df.head()

,Commodity Group,Commodity Group,Jan,Feb,Mar,Apr,May,Unnamed: 11,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Ave,Unnamed: 30,Year to Date
1,ALL ITEMS,NaN,124.8,125.5,125.6,125.5,125.6,NaN,125.6,126.5,126.6,126.3,126.5,127,127.7,126.1,Phil,1.8
2,01 -,Food and Non-Alcoholic Beverages,128.9,129.3,128.9,128.7,128.7,NaN,129.5,130.4,130.4,129.8,130.4,131.3,132.3,129.883333,NCR,2.3
3,02 -,Alcoholic Beverages and Tobacco,174.7,175.9,176.3,176.5,176.8,NaN,177,177,177.2,177.5,177.8,178.7,179.5,177.075,AONCR,1.7
4,03 -,Clothing and Footwear,117,117.4,117.9,118.2,118.4,NaN,118.5,118.7,119,119.1,119.2,119.3,119.4,118.508333,NaN,NaN
5,04 -,"Housing, Water, Electricity, Gas and Other Fuels",118.8,119.8,119.8,119.2,119.8,NaN,118.4,120,120.9,121.2,120.9,120.7,121.2,120.058333,NaN,NaN

Transform Data

In [4]:
# ...existing code...

# Set 'Commodity Group' as columns, months as index
df_transformed = df.set_index('Commodity Group').T

# Optional: Reset index and rename for clarity
df_transformed = df_transformed.reset_index().rename(columns={'index': 'Month'})

df_transformed.head()
# ...existing code...

Commodity Group,Month,"(ALL ITEMS, nan)","(01 -, Food and Non-Alcoholic Beverages)","(02 -, Alcoholic Beverages and Tobacco)","(03 -, Clothing and Footwear)","(04 -, Housing, Water, Electricity, Gas and Other Fuels)","(05 -, Furnishings, Household Equipment and Routine Household Maintenance)","(06 -, Health)","(07 -, Transport)","(08 -, Information and Communication)",...,"(06 -, Health)","(07 -, Transport)","(08 -, Information and Communication)","(09 -, Recreation, Sport and Culture)","(10 -, Education Services)","(11 -, Restaurants and Accommodation Services)","(12 -, Financial Services)","(13 -, Personal Care, and Miscellaneous Goods and Services)","(r - revised, nan)","(Source: Philippine Statistics Authority, Retail Price Survey of Selected Commodities for the Generation of Consumer Price Index, nan)"
0,Jan,124.8,128.9,174.7,117,118.8,120.2,121.5,128.9,103.1,...,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7,NaN,NaN
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122,130.6,103.1,...,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1,NaN,NaN
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4,NaN,NaN
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6,NaN,NaN
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,125.7,127.9,103.6,118,120.3,130.8,142.4,122.8,NaN,NaN

In [5]:
import numpy as np

df_transformed = df_transformed.rename(columns={'Unknown': 'All items'})

In [6]:
df_transformed = df_transformed[df_transformed['Month'] != 'Unnamed: 11']

In [7]:
df_transformed.head()

Commodity Group,Month,"(ALL ITEMS, nan)","(01 -, Food and Non-Alcoholic Beverages)","(02 -, Alcoholic Beverages and Tobacco)","(03 -, Clothing and Footwear)","(04 -, Housing, Water, Electricity, Gas and Other Fuels)","(05 -, Furnishings, Household Equipment and Routine Household Maintenance)","(06 -, Health)","(07 -, Transport)","(08 -, Information and Communication)",...,"(06 -, Health)","(07 -, Transport)","(08 -, Information and Communication)","(09 -, Recreation, Sport and Culture)","(10 -, Education Services)","(11 -, Restaurants and Accommodation Services)","(12 -, Financial Services)","(13 -, Personal Care, and Miscellaneous Goods and Services)","(r - revised, nan)","(Source: Philippine Statistics Authority, Retail Price Survey of Selected Commodities for the Generation of Consumer Price Index, nan)"
0,Jan,124.8,128.9,174.7,117,118.8,120.2,121.5,128.9,103.1,...,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7,NaN,NaN
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122,130.6,103.1,...,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1,NaN,NaN
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4,NaN,NaN
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6,NaN,NaN
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,125.7,127.9,103.6,118,120.3,130.8,142.4,122.8,NaN,NaN

In [8]:
df_transformed.head()

Commodity Group,Month,"(ALL ITEMS, nan)","(01 -, Food and Non-Alcoholic Beverages)","(02 -, Alcoholic Beverages and Tobacco)","(03 -, Clothing and Footwear)","(04 -, Housing, Water, Electricity, Gas and Other Fuels)","(05 -, Furnishings, Household Equipment and Routine Household Maintenance)","(06 -, Health)","(07 -, Transport)","(08 -, Information and Communication)",...,"(06 -, Health)","(07 -, Transport)","(08 -, Information and Communication)","(09 -, Recreation, Sport and Culture)","(10 -, Education Services)","(11 -, Restaurants and Accommodation Services)","(12 -, Financial Services)","(13 -, Personal Care, and Miscellaneous Goods and Services)","(r - revised, nan)","(Source: Philippine Statistics Authority, Retail Price Survey of Selected Commodities for the Generation of Consumer Price Index, nan)"
0,Jan,124.8,128.9,174.7,117,118.8,120.2,121.5,128.9,103.1,...,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7,NaN,NaN
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122,130.6,103.1,...,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1,NaN,NaN
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4,NaN,NaN
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6,NaN,NaN
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,125.7,127.9,103.6,118,120.3,130.8,142.4,122.8,NaN,NaN

In [9]:
df.head()

,Commodity Group,Commodity Group,Jan,Feb,Mar,Apr,May,Unnamed: 11,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Ave,Unnamed: 30,Year to Date
1,ALL ITEMS,NaN,124.8,125.5,125.6,125.5,125.6,NaN,125.6,126.5,126.6,126.3,126.5,127,127.7,126.1,Phil,1.8
2,01 -,Food and Non-Alcoholic Beverages,128.9,129.3,128.9,128.7,128.7,NaN,129.5,130.4,130.4,129.8,130.4,131.3,132.3,129.883333,NCR,2.3
3,02 -,Alcoholic Beverages and Tobacco,174.7,175.9,176.3,176.5,176.8,NaN,177,177,177.2,177.5,177.8,178.7,179.5,177.075,AONCR,1.7
4,03 -,Clothing and Footwear,117,117.4,117.9,118.2,118.4,NaN,118.5,118.7,119,119.1,119.2,119.3,119.4,118.508333,NaN,NaN
5,04 -,"Housing, Water, Electricity, Gas and Other Fuels",118.8,119.8,119.8,119.2,119.8,NaN,118.4,120,120.9,121.2,120.9,120.7,121.2,120.058333,NaN,NaN

In [10]:
df_read_transformed = pd.read_csv("Transformed_Data/df_transformed.csv")

df_read_transformed.head()

,Month,Unnamed: 1,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,...,"Housing, Water, Electricity, Gas and Other Fuels.1","Furnishings, Household Equipment and Routine Household Maintenance.1",Health.1,Transport.1,Information and Communication.1,"Recreation, Sport and Culture.1",Education Services.1,Restaurants and Accommodation Services.1,Financial Services.1,"Personal Care, and Miscellaneous Goods and Services.1"
0,Jan,124.8,128.9,174.7,117.0,118.8,120.2,121.5,128.9,103.1,...,121.4,123.3,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122.0,130.6,103.1,...,121.7,123.5,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,121.8,123.7,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,122.6,123.8,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,122.6,123.9,125.7,127.9,103.6,118.0,120.3,130.8,142.4,122.8

In [11]:
# Slice columns from 'Unnamed: 15' to 'Personal Care, and Miscellaneous Goods and Services.1'
df_sliced = df_read_transformed.loc[:, 'Unnamed: 15':'Personal Care, and Miscellaneous Goods and Services.1']

# Concatenate with another DataFrame (e.g., df_other)
# result = pd.concat([df_other, df_slice], axis=1)

# If you just want to see the slice:

df_sliced.head()

,Unnamed: 15,Unnamed: 16,Food and Non-Alcoholic Beverages.1,Alcoholic Beverages and Tobacco.1,Clothing and Footwear.1,"Housing, Water, Electricity, Gas and Other Fuels.1","Furnishings, Household Equipment and Routine Household Maintenance.1",Health.1,Transport.1,Information and Communication.1,"Recreation, Sport and Culture.1",Education Services.1,Restaurants and Accommodation Services.1,Financial Services.1,"Personal Care, and Miscellaneous Goods and Services.1"
0,2 0 2 5,128.4,133.8,180.9,119.7,121.4,123.3,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7
1,NaN,128.1,132.6,181.9,119.9,121.7,123.5,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1
2,NaN,127.8,131.8,182.6,120.0,121.8,123.7,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4
3,NaN,127.3,129.9,183.1,120.1,122.6,123.8,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6
4,NaN,127.2,129.8,183.5,120.3,122.6,123.9,125.7,127.9,103.6,118.0,120.3,130.8,142.4,122.8

In [12]:
df_read_transformed = df_read_transformed.rename(columns={'Unnamed: 1': 'All items'})

In [13]:
df_read_transformed.head()

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,...,"Housing, Water, Electricity, Gas and Other Fuels.1","Furnishings, Household Equipment and Routine Household Maintenance.1",Health.1,Transport.1,Information and Communication.1,"Recreation, Sport and Culture.1",Education Services.1,Restaurants and Accommodation Services.1,Financial Services.1,"Personal Care, and Miscellaneous Goods and Services.1"
0,Jan,124.8,128.9,174.7,117.0,118.8,120.2,121.5,128.9,103.1,...,121.4,123.3,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122.0,130.6,103.1,...,121.7,123.5,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,121.8,123.7,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,122.6,123.8,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,122.6,123.9,125.7,127.9,103.6,118.0,120.3,130.8,142.4,122.8

In [14]:
df_read_transformed = df_read_transformed[df_read_transformed['Month'] != 'Unnamed: 11']

In [15]:
df_read_transformed = df_read_transformed.drop(columns=df_read_transformed.loc[:, 'Unnamed: 15':'Personal Care, and Miscellaneous Goods and Services.1'].columns)

In [16]:
df_read_transformed

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services"
0,Jan,124.8,128.9,174.7,117.000000,118.800000,120.200,121.500,128.90,103.100,114.500,115.400000,125.6,142.4,118.4
1,Feb,125.5,129.3,175.9,117.400000,119.800000,120.700,122.000,130.60,103.100,114.900,115.400000,126.5,142.4,119.0
2,Mar,125.6,128.9,176.3,117.900000,119.800000,121.100,122.400,130.90,103.100,115.200,115.400000,127.5,142.4,119.3
3,Apr,125.5,128.7,176.5,118.200000,119.200000,121.200,122.500,131.70,103.200,115.400,115.400000,127.8,142.4,119.6
4,May,125.6,128.7,176.8,118.400000,119.800000,121.500,122.700,131.10,103.200,115.500,115.400000,128.2,142.4,119.8
6,Jun,125.6,129.5,177,118.500000,118.400000,121.600,122.900,130.70,103.200,115.700,115.400000,128.4,142.4,120.0
7,Jul,126.5,130.4,177,118.700000,120.000000,121.800,123.100,131.50,103.200,115.900,118.100000,128.6,142.4,120.3
8,Aug,126.6,130.4,177.2,119.000000,120.900000,121.900,123.200,129.60,103.200,116.500,120.100000,128.7,142.4,120.5
9,Sep,126.3,129.8,177.5,119.100000,121.200000,122.100,123.500,127.90,103.200,116.700,120.100000,128.7,142.4,120.7
10,Oct,126.5,130.4,177.8,119.200000,120.900000,122.200,123.700,128.00,103.200,116.900,120.100000,128.8,142.4,120.9
11,Nov,127,131.3,178.7,119.300000,120.700000,122.800,124.000,128.50,103.200,116.900,120.100000,129.0,142.4,121.2
12,Dec,127.7,132.3,179.5,119.400000,121.200000,123.000,124.200,130.00,103.200,117.000,120.100000,129.4,142.4,121.5
13,Ave,126.1,129.8833333,177.075,118.508333,120.058333,121.675,122.975,129.95,103.175,115.925,117.583333,128.1,142.4,120.1
14,Unnamed: 30,Phil,NCR,AONCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Year to Date,1.8,2.3,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN