In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import plotly.express as px
import seaborn as sns

%config InlineBackend.figure_format = 'retina'

import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv("df_read_transformed_partial.csv")
df.head()

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,...,"Housing, Water, Electricity, Gas and Other Fuels.1","Furnishings, Household Equipment and Routine Household Maintenance.1",Health.1,Transport.1,Information and Communication.1,"Recreation, Sport and Culture.1",Education Services.1,Restaurants and Accommodation Services.1,Financial Services.1,"Personal Care, and Miscellaneous Goods and Services.1"
0,Jan,124.8,128.9,174.7,117.0,118.8,120.2,121.5,128.9,103.1,...,121.4,123.3,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122.0,130.6,103.1,...,121.7,123.5,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,121.8,123.7,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,122.6,123.8,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,122.6,123.9,125.7,127.9,103.6,118.0,120.3,130.8,142.4,122.8

In [6]:
df_sliced = df.loc[:, 'Unnamed: 15':'Personal Care, and Miscellaneous Goods and Services.1']

df_sliced.to_csv('df_sliced.csv', index=False)

df_sliced = df_sliced.rename(columns={'Unnamed: 16': 'All items'})
df_sliced = df_sliced.rename(columns={'Unnamed: 15': 'Month'})
df_sliced.loc[0, 'Month'] = 'Jan'
df_sliced.loc[1, 'Month'] = 'Feb'
df_sliced.loc[2, 'Month'] = 'Mar'
df_sliced.loc[3, 'Month'] = 'Apr' 
df_sliced.loc[4, 'Month'] = 'May'
df_sliced.loc[5, 'Month'] = 'Jun'

# Remove '.1' from all column names in df_sliced
df_sliced.columns = df_sliced.columns.str.replace('.1', '', regex=False)

df_sliced.head()

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services"
0,Jan,128.4,133.8,180.9,119.7,121.4,123.3,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7
1,Feb,128.1,132.6,181.9,119.9,121.7,123.5,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1
2,Mar,127.8,131.8,182.6,120.0,121.8,123.7,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4
3,Apr,127.3,129.9,183.1,120.1,122.6,123.8,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6
4,May,127.2,129.8,183.5,120.3,122.6,123.9,125.7,127.9,103.6,118.0,120.3,130.8,142.4,122.8

In [4]:
# Drop rows by index (for example, rows 0 to 5)
df_cut = df.drop(columns=df.loc[:, 'Unnamed: 15':'Personal Care, and Miscellaneous Goods and Services.1'].columns)
df_cut = df_cut.drop(index=[13,14])
df_cut.head()

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services"
0,Jan,124.8,128.9,174.7,117.0,118.8,120.2,121.5,128.9,103.1,114.5,115.4,125.6,142.4,118.4
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122.0,130.6,103.1,114.9,115.4,126.5,142.4,119.0
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,115.2,115.4,127.5,142.4,119.3
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,115.4,115.4,127.8,142.4,119.6
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,115.5,115.4,128.2,142.4,119.8

In [ ]:
df_combined = pd.concat([df_cut, df_sliced], axis=0)


df_combined

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services"
0,Jan,124.8,128.9,174.7,117.000000,118.800000,120.200,121.500,128.90,103.100,114.500,115.400000,125.6,142.4,118.4
1,Feb,125.5,129.3,175.9,117.400000,119.800000,120.700,122.000,130.60,103.100,114.900,115.400000,126.5,142.4,119.0
2,Mar,125.6,128.9,176.3,117.900000,119.800000,121.100,122.400,130.90,103.100,115.200,115.400000,127.5,142.4,119.3
3,Apr,125.5,128.7,176.5,118.200000,119.200000,121.200,122.500,131.70,103.200,115.400,115.400000,127.8,142.4,119.6
4,May,125.6,128.7,176.8,118.400000,119.800000,121.500,122.700,131.10,103.200,115.500,115.400000,128.2,142.4,119.8
5,Jun,125.6,129.5,177,118.500000,118.400000,121.600,122.900,130.70,103.200,115.700,115.400000,128.4,142.4,120.0
6,Jul,126.5,130.4,177,118.700000,120.000000,121.800,123.100,131.50,103.200,115.900,118.100000,128.6,142.4,120.3
7,Aug,126.6,130.4,177.2,119.000000,120.900000,121.900,123.200,129.60,103.200,116.500,120.100000,128.7,142.4,120.5
8,Sep,126.3,129.8,177.5,119.100000,121.200000,122.100,123.500,127.90,103.200,116.700,120.100000,128.7,142.4,120.7
9,Oct,126.5,130.4,177.8,119.200000,120.900000,122.200,123.700,128.00,103.200,116.900,120.100000,128.8,142.4,120.9
10,Nov,127,131.3,178.7,119.300000,120.700000,122.800,124.000,128.50,103.200,116.900,120.100000,129.0,142.4,121.2
11,Dec,127.7,132.3,179.5,119.400000,121.200000,123.000,124.200,130.00,103.200,117.000,120.100000,129.4,142.4,121.5
12,Ave,126.1,129.8833333,177.075,118.508333,120.058333,121.675,122.975,129.95,103.175,115.925,117.583333,128.1,142.4,120.1
0,Jan,128.4,133.8,180.9,119.700000,121.400000,123.300,124.500,130.30,103.300,117.300,120.300000,129.6,142.4,121.7
1,Feb,128.1,132.6,181.9,119.900000,121.700000,123.500,124.800,130.40,103.400,117.700,120.300000,130.1,142.4,122.1
2,Mar,127.8,131.8,182.6,120.000000,121.800000,123.700,125.100,129.50,103.500,117.700,120.300000,130.4,142.4,122.4
3,Apr,127.3,129.9,183.1,120.100000,122.600000,123.800,125.400,128.90,103.500,117.800,120.300000,130.7,142.4,122.6
4,May,127.2,129.8,183.5,120.300000,122.600000,123.900,125.700,127.90,103.600,118.000,120.300000,130.8,142.4,122.8
5,Jun,127.4,130.0,183.8,120.500000,122.200000,124.200,125.900,128.60,103.600,118.300,121.600000,131.1,142.4,122.9
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_combined = df_combined.dropna()

df_combined.to_csv('df_combined.csv', index=False)


df_combined

,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services"
0,Jan,124.8,128.9,174.7,117.000000,118.800000,120.200,121.500,128.90,103.100,114.500,115.400000,125.6,142.4,118.4
1,Feb,125.5,129.3,175.9,117.400000,119.800000,120.700,122.000,130.60,103.100,114.900,115.400000,126.5,142.4,119.0
2,Mar,125.6,128.9,176.3,117.900000,119.800000,121.100,122.400,130.90,103.100,115.200,115.400000,127.5,142.4,119.3
3,Apr,125.5,128.7,176.5,118.200000,119.200000,121.200,122.500,131.70,103.200,115.400,115.400000,127.8,142.4,119.6
4,May,125.6,128.7,176.8,118.400000,119.800000,121.500,122.700,131.10,103.200,115.500,115.400000,128.2,142.4,119.8
5,Jun,125.6,129.5,177,118.500000,118.400000,121.600,122.900,130.70,103.200,115.700,115.400000,128.4,142.4,120.0
6,Jul,126.5,130.4,177,118.700000,120.000000,121.800,123.100,131.50,103.200,115.900,118.100000,128.6,142.4,120.3
7,Aug,126.6,130.4,177.2,119.000000,120.900000,121.900,123.200,129.60,103.200,116.500,120.100000,128.7,142.4,120.5
8,Sep,126.3,129.8,177.5,119.100000,121.200000,122.100,123.500,127.90,103.200,116.700,120.100000,128.7,142.4,120.7
9,Oct,126.5,130.4,177.8,119.200000,120.900000,122.200,123.700,128.00,103.200,116.900,120.100000,128.8,142.4,120.9
10,Nov,127,131.3,178.7,119.300000,120.700000,122.800,124.000,128.50,103.200,116.900,120.100000,129.0,142.4,121.2
11,Dec,127.7,132.3,179.5,119.400000,121.200000,123.000,124.200,130.00,103.200,117.000,120.100000,129.4,142.4,121.5
12,Ave,126.1,129.8833333,177.075,118.508333,120.058333,121.675,122.975,129.95,103.175,115.925,117.583333,128.1,142.4,120.1
0,Jan,128.4,133.8,180.9,119.700000,121.400000,123.300,124.500,130.30,103.300,117.300,120.300000,129.6,142.4,121.7
1,Feb,128.1,132.6,181.9,119.900000,121.700000,123.500,124.800,130.40,103.400,117.700,120.300000,130.1,142.4,122.1
2,Mar,127.8,131.8,182.6,120.000000,121.800000,123.700,125.100,129.50,103.500,117.700,120.300000,130.4,142.4,122.4
3,Apr,127.3,129.9,183.1,120.100000,122.600000,123.800,125.400,128.90,103.500,117.800,120.300000,130.7,142.4,122.6
4,May,127.2,129.8,183.5,120.300000,122.600000,123.900,125.700,127.90,103.600,118.000,120.300000,130.8,142.4,122.8
5,Jun,127.4,130.0,183.8,120.500000,122.200000,124.200,125.900,128.60,103.600,118.300,121.600000,131.1,142.4,122.9

In [ ]:
# Insert a new column 'Year' at position 1 (right after 'Month')
df_combined.insert(1, 'Year', 2025)

ValueError: cannot insert Year, already exists

In [18]:
df_combined = df_combined.reset_index(drop=True)
df_combined

,Month,Year,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services"
0,Jan,2025,124.8,128.9,174.7,117.000000,118.800000,120.200,121.500,128.90,103.100,114.500,115.400000,125.6,142.4,118.4
1,Feb,2025,125.5,129.3,175.9,117.400000,119.800000,120.700,122.000,130.60,103.100,114.900,115.400000,126.5,142.4,119.0
2,Mar,2025,125.6,128.9,176.3,117.900000,119.800000,121.100,122.400,130.90,103.100,115.200,115.400000,127.5,142.4,119.3
3,Apr,2025,125.5,128.7,176.5,118.200000,119.200000,121.200,122.500,131.70,103.200,115.400,115.400000,127.8,142.4,119.6
4,May,2025,125.6,128.7,176.8,118.400000,119.800000,121.500,122.700,131.10,103.200,115.500,115.400000,128.2,142.4,119.8
5,Jun,2025,125.6,129.5,177,118.500000,118.400000,121.600,122.900,130.70,103.200,115.700,115.400000,128.4,142.4,120.0
6,Jul,2025,126.5,130.4,177,118.700000,120.000000,121.800,123.100,131.50,103.200,115.900,118.100000,128.6,142.4,120.3
7,Aug,2025,126.6,130.4,177.2,119.000000,120.900000,121.900,123.200,129.60,103.200,116.500,120.100000,128.7,142.4,120.5
8,Sep,2025,126.3,129.8,177.5,119.100000,121.200000,122.100,123.500,127.90,103.200,116.700,120.100000,128.7,142.4,120.7
9,Oct,2025,126.5,130.4,177.8,119.200000,120.900000,122.200,123.700,128.00,103.200,116.900,120.100000,128.8,142.4,120.9
10,Nov,2025,127,131.3,178.7,119.300000,120.700000,122.800,124.000,128.50,103.200,116.900,120.100000,129.0,142.4,121.2
11,Dec,2025,127.7,132.3,179.5,119.400000,121.200000,123.000,124.200,130.00,103.200,117.000,120.100000,129.4,142.4,121.5
12,Ave,2025,126.1,129.8833333,177.075,118.508333,120.058333,121.675,122.975,129.95,103.175,115.925,117.583333,128.1,142.4,120.1
13,Jan,2025,128.4,133.8,180.9,119.700000,121.400000,123.300,124.500,130.30,103.300,117.300,120.300000,129.6,142.4,121.7
14,Feb,2025,128.1,132.6,181.9,119.900000,121.700000,123.500,124.800,130.40,103.400,117.700,120.300000,130.1,142.4,122.1
15,Mar,2025,127.8,131.8,182.6,120.000000,121.800000,123.700,125.100,129.50,103.500,117.700,120.300000,130.4,142.4,122.4
16,Apr,2025,127.3,129.9,183.1,120.100000,122.600000,123.800,125.400,128.90,103.500,117.800,120.300000,130.7,142.4,122.6
17,May,2025,127.2,129.8,183.5,120.300000,122.600000,123.900,125.700,127.90,103.600,118.000,120.300000,130.8,142.4,122.8
18,Jun,2025,127.4,130.0,183.8,120.500000,122.200000,124.200,125.900,128.60,103.600,118.300,121.600000,131.1,142.4,122.9

In [21]:
df_combined.loc[12, 'Year'] = 'Nan'

In [22]:
df_combined.to_csv('df_combined_with_year.csv', index=False)