In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import plotly.express as px
import seaborn as sns

%config InlineBackend.figure_format = 'retina'

import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning)

In [2]:
# Load and clean your Excel file (skip the top header rows)
df = pd.read_excel("Statistical Tables on June 2025 CPI for All Income Households.xlsx",
                   sheet_name="table 1", skiprows=5)

# Rename the first column for clarity
df.rename(columns={df.columns[0]: "Commodity Group"}, inplace=True)

# Drop empty columns and rows
df.dropna(axis=1, how='all', inplace=True)
df = df[df["Commodity Group"].notna()]

In [7]:
df = df.rename(columns={'Unnamed: 1': 'Commodity Group'})

df.head()

,Commodity Group,Jan,Feb,Mar,Apr,May,Unnamed: 11,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Ave,Unnamed: 30,Year to Date
1,NaN,124.8,125.5,125.6,125.5,125.6,NaN,125.6,126.5,126.6,126.3,126.5,127,127.7,126.1,Phil,1.8
2,Food and Non-Alcoholic Beverages,128.9,129.3,128.9,128.7,128.7,NaN,129.5,130.4,130.4,129.8,130.4,131.3,132.3,129.883333,NCR,2.3
3,Alcoholic Beverages and Tobacco,174.7,175.9,176.3,176.5,176.8,NaN,177,177,177.2,177.5,177.8,178.7,179.5,177.075,AONCR,1.7
4,Clothing and Footwear,117,117.4,117.9,118.2,118.4,NaN,118.5,118.7,119,119.1,119.2,119.3,119.4,118.508333,NaN,NaN
5,"Housing, Water, Electricity, Gas and Other Fuels",118.8,119.8,119.8,119.2,119.8,NaN,118.4,120,120.9,121.2,120.9,120.7,121.2,120.058333,NaN,NaN

Transform Data

In [8]:
# ...existing code...

# Set 'Commodity Group' as columns, months as index
df_transformed = df.set_index('Commodity Group').T

# Optional: Reset index and rename for clarity
df_transformed = df_transformed.reset_index().rename(columns={'index': 'Month'})

df_transformed.head()
# ...existing code...

Commodity Group,Month,NaN,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,...,Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services",NaN,NaN
0,Jan,124.8,128.9,174.7,117,118.8,120.2,121.5,128.9,103.1,...,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7,NaN,NaN
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122,130.6,103.1,...,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1,NaN,NaN
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4,NaN,NaN
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6,NaN,NaN
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,125.7,127.9,103.6,118,120.3,130.8,142.4,122.8,NaN,NaN

In [10]:
df_transformed

Commodity Group,Month,NaN,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,...,Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services",NaN,NaN
0,Jan,124.8,128.9,174.7,117,118.8,120.2,121.5,128.9,103.1,...,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7,NaN,NaN
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122,130.6,103.1,...,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1,NaN,NaN
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4,NaN,NaN
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6,NaN,NaN
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,125.7,127.9,103.6,118,120.3,130.8,142.4,122.8,NaN,NaN
5,Unnamed: 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,r,NaN,NaN,NaN,NaN,NaN
6,Jun,125.6,129.5,177,118.5,118.4,121.6,122.9,130.7,103.2,...,125.9,128.6,103.6,118.3,121.6,131.1,142.4,122.9,NaN,NaN
7,Jul,126.5,130.4,177,118.7,120,121.8,123.1,131.5,103.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aug,126.6,130.4,177.2,119,120.9,121.9,123.2,129.6,103.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Sep,126.3,129.8,177.5,119.1,121.2,122.1,123.5,127.9,103.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Oct,126.5,130.4,177.8,119.2,120.9,122.2,123.7,128,103.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Nov,127,131.3,178.7,119.3,120.7,122.8,124,128.5,103.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Dec,127.7,132.3,179.5,119.4,121.2,123,124.2,130,103.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Ave,126.1,129.883333,177.075,118.508333,120.058333,121.675,122.975,129.95,103.175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Unnamed: 30,Phil,NCR,AONCR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Year to Date,1.8,2.3,1.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
import numpy as np

df_transformed = df_transformed.rename(columns={'Unknown': 'All items'})

In [30]:
df_transformed = df_transformed[df_transformed['Month'] != 'Unnamed: 11']

In [31]:
df_transformed.head()

Commodity Group,Month,All items,Food and Non-Alcoholic Beverages,Alcoholic Beverages and Tobacco,Clothing and Footwear,"Housing, Water, Electricity, Gas and Other Fuels","Furnishings, Household Equipment and Routine Household Maintenance",Health,Transport,Information and Communication,...,Health,Transport,Information and Communication,"Recreation, Sport and Culture",Education Services,Restaurants and Accommodation Services,Financial Services,"Personal Care, and Miscellaneous Goods and Services",All items,All items
0,Jan,124.8,128.9,174.7,117,118.8,120.2,121.5,128.9,103.1,...,124.5,130.3,103.3,117.3,120.3,129.6,142.4,121.7,NaN,NaN
1,Feb,125.5,129.3,175.9,117.4,119.8,120.7,122,130.6,103.1,...,124.8,130.4,103.4,117.7,120.3,130.1,142.4,122.1,NaN,NaN
2,Mar,125.6,128.9,176.3,117.9,119.8,121.1,122.4,130.9,103.1,...,125.1,129.5,103.5,117.7,120.3,130.4,142.4,122.4,NaN,NaN
3,Apr,125.5,128.7,176.5,118.2,119.2,121.2,122.5,131.7,103.2,...,125.4,128.9,103.5,117.8,120.3,130.7,142.4,122.6,NaN,NaN
4,May,125.6,128.7,176.8,118.4,119.8,121.5,122.7,131.1,103.2,...,125.7,127.9,103.6,118,120.3,130.8,142.4,122.8,NaN,NaN